
*{
    margin: 0px;
    padding: 0px;
}

  .border{
    border: 1px solid rgb(185, 181, 181);
   }
   .left{
    width: 25vw;
    padding: 4px;
   }
   .right{
   width: 75vw;
   padding: 4px;
   }
   .flex{
    display: flex;
    gap: 5px;
   }
   .align-items{
    align-items: center;
    
   }
   .justify-content{
    justify-content: center;
   }

   .bg-black{
    background-color: black;
    color: white;
   }
   .bg-gray{
    background-color: rgb(38, 36, 36);
   }
   
   .invert{
     filter: invert(1);
    
   }

   .border-radius{
    border-radius: 9px;
   }

   .m1{
    margin: 6px;
   }

   .p1{
     padding: 17px;
   }



   .cardContainer {
    overflow-y: auto;
    scrollbar-color: dark;
    scrollbar-width:thin;
  }
  
  .cardContainer::-webkit-scrollbar {
    width: 11px;
  }
  
  .cardContainer::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
  }
  
  .cardContainer::-webkit-scrollbar-track {
    background-color: #433f3f; /* or any dark background color you prefer */
  }



  .songlists {
    overflow-y: auto;
    scrollbar-color: dark;
    scrollbar-width:thin;
  }
  
  .songlists::-webkit-scrollbar {
    width: 11px;
  }
  
  .songlists::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
  }
  
  .songlists::-webkit-scrollbar-track {
    background-color: #433f3f; /* or any dark background color you prefer */
  }

  @media only screen and (max-width: 390px) {
    .buttons{
      margin-left: 10px;
      gap: 3px;
    }
    .btn{
      width: 55px;
      height: 35px;
      padding-top: 7px;
      padding: 5px;
      text-align: center;
      border-radius: 17px;
      border: none;
      background-color: rgb(46, 44, 44);color: white;
      /* font-size: 1rem; */
    }
    .btn-log{
      background-color: white;
      color: black;
    }
  }
  

  @media only screen and (min-width: 300px) and (max-width: 325px) {
    .right .card{
      /* color: red; */
      height: 270px;
      width: 210px;
    }
    .cardContainer{
      padding: 2px;
      gap: 0px
    }
  }
  @media only screen and (min-width: 326px) and (max-width: 380px) {
    .right .card{
      /* color: red; */
      height: 240px;
      width: 120px;
    }
    .cardContainer{
      padding: 2px;
      gap: 0px
    }
  }
  
  @media only screen and (min-width: 380px) and (max-width: 472px) {
    .right .card{
      /* color: red; */
      height: 210px;
      width: 150px;
    }
    .cardContainer{
      padding: 2px;
      gap: 0px
    }
   
    
  }

  @media only screen and (max-width: 550px) {
  .playbar{
    min-height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #433f3f;
   }
   .seekbar{
    height: 3px;
    width: 100%;
    border:1.6px solid rgb(24, 22, 22) ;
    position: absolute;
    top: 80px;
    width: 95%;
    margin: auto;
    background-color: rgb(23, 22, 22);
    border-radius: 5px;
    border: 1.5px solid white;
    margin: 4px;
    cursor: pointer;
  }

  }

  
  @media only screen and (max-width: 1137px) {
 
    .left{
     position: absolute;
     z-index: 1;
     width: 280px;
     background-color: black;
     .library,.cardContainer{
      min-height: 500px;
     }
     
     left: -100%;
     /* background-color: red; */
    }
    .right{
      /* background-color: blue; */
      /* color: red; */
      width: 100vw;
    }

    .hamburger,.crosshamburger{
      display: block;
      
    }
    .logo{
      position: relative;
    
    }
    .crosshamburger{
      position: absolute;
      top: 0;
      /* left: 134px; */
      right: 10px;
    }

  }


